{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}

<h2>New Permission Group</h2>

{%TEMPLATE->struct/messages%}

<form action="access.php?new=true" method="post" class="m-0">
  <input type="hidden" name="action" value="[[$DAccessControlAction::CREATE_GROUP]]">
  <input type="hidden" name="csrf" value="[[csrf]]">

  <div class="card">
    <div class="card-body">
      <div class="row g-3 align-items-end">
        <div class="col-12 col-md-8 col-lg-6">
          <label for="groupName" class="form-label">Group Name</label>
          <input type="text" class="form-control" id="groupName" name="groupName" title="Group Name" required>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
          <button type="submit" class="btn btn-success w-100">Create</button>
        </div>
      </div>
    </div>
  </div>
</form>

{%TEMPLATE->struct/foot%}