{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}

<h2>Add new Preprocessor</h2>
{%TEMPLATE->struct/messages%}

<form action="preprocessors.php" method="post">
  <input type="hidden" name="action" value="[[$DPreprocessorAction::ADD_PREPROCESSOR]]">
  <input type="hidden" name="csrf" value="[[csrf]]">

  <div class="card">
    <div class="table-responsive">
      <table class="table table-bordered table-sm align-middle mb-0">
        <thead>
          <tr>
            <th style="width: 220px;">Property</th>
            <th>Value</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Name</td>
            <td>
              <input type="text"
                     class="form-control"
                     name="name"
                     required>
            </td>
          </tr>

          <tr>
            <td>Binary Basename</td>
            <td>
              <input type="text"
                     class="form-control"
                     name="binaryName"
                     required>
            </td>
          </tr>

          <tr>
            <td>Download URL</td>
            <td>
              <input type="text"
                     class="form-control"
                     name="url"
                     placeholder="https://example.com/preprocessor.tar.gz">
            </td>
          </tr>

          <tr>
            <td rowspan="3">
              Commands<br>
              <small class="text-muted">
                Leave empty if unsupported
              </small>
            </td>
            <td>
              <input type="text"
                     class="form-control"
                     name="keyspaceCommand"
                     value="--keyspace"
                     placeholder="Measure keyspace">
            </td>
          </tr>

          <tr>
            <td>
              <input type="text"
                     class="form-control"
                     name="skipCommand"
                     value="--skip"
                     placeholder="Skip keyspace">
            </td>
          </tr>

          <tr>
            <td>
              <input type="text"
                     class="form-control"
                     name="limitCommand"
                     value="--limit"
                     placeholder="Limit keyspace">
            </td>
          </tr>

          <tr>
            <td colspan="2" class="text-center">
              <button type="submit" class="btn btn-success">
                Add Preprocessor
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>

{%TEMPLATE->struct/foot%}
