{{IF [[accessControl.hasPermission([[$DAccessControl::RUN_TASK_ACCESS]])]]}}
  <h3>Create supertask:</h3>

  <div class="card">
    <div class="table-responsive">
      <table class="table table-bordered table-sm align-middle mb-0">
        <thead>
          <tr>
            <th style="width: 90px;">ID</th>
            <th>Name</th>
            <th style="width: 520px;">Action</th>
          </tr>
        </thead>

        <tbody>
          {{FOREACH supertask;[[superTasks]]}}
            <tr>
              <td>
                <a href="supertasks.php?id=[[supertask.getId()]]">[[supertask.getId()]]</a>
              </td>

              <td>
                <a href="supertasks.php?id=[[supertask.getId()]]">[[supertask.getSupertaskName()]]</a>
              </td>

              <td>
                <form class="d-flex flex-wrap gap-2 align-items-center justify-content-end"
                      action="supertasks.php"
                      method="POST">
                  <input type="hidden" name="action" value="[[$DSupertaskAction::APPLY_SUPERTASK]]">
                  <input type="hidden" name="supertask" value="[[supertask.getId()]]">
                  <input type="hidden" name="hashlist" value="[[list.getVal('hashlist')->getId()]]">
                  <input type="hidden" name="csrf" value="[[csrf]]">

                  <select name="crackerBinaryTypeId"
                          id="crackerBinaryTypeId-[[supertask.getId()]]"
                          class="form-control"
                          title="Cracker Binary">
                    {{FOREACH binary;[[binaries]]}}
                      <option value="[[binary.getId()]]">[[binary.getTypeName()]]</option>
                    {{ENDFOREACH}}
                  </select>

                  <select name="crackerBinaryVersionId"
                          id="crackerBinaryVersionId-[[supertask.getId()]]"
                          class="form-control"
                          title="Binary Version">
                    <option value="0">&nbsp;</option>
                  </select>

                  <button type="submit"
                          class="btn {{IF [[toggledarkmode]] > 0}}btn-primary{{ELSE}}btn-light{{ENDIF}}">
                    Create Supertask
                  </button>
                </form>

                <script type="text/javascript">
                  (function () {
                    // Build versions lookup once per supertask row (scoped to this IIFE)
                    var versions = [];
                    {{FOREACH version;[[versions]]}}
                      if ([[version.getCrackerBinaryTypeId()]] in versions) {
                        versions[[version.getCrackerBinaryTypeId()]].push(["[[version.getVersion()]]", [[version.getId()]]]);
                      } else {
                        versions[[version.getCrackerBinaryTypeId()]] = [["[[version.getVersion()]]", [[version.getId()]]]];
                      }
                    {{ENDFOREACH}}

                    var ddlType = document.getElementById('crackerBinaryTypeId-[[supertask.getId()]]');
                    var ddlVer  = document.getElementById('crackerBinaryVersionId-[[supertask.getId()]]');

                    function configureDropDownLists(ddl1, ddl2) {
                      ddl2.options.length = 0;
                      if (!ddl1.value || typeof versions[ddl1.value] === "undefined") {
                        var opt = document.createElement('option');
                        opt.value = 0;
                        opt.text = '\u00A0';
                        ddl2.options.add(opt);
                        return;
                      }
                      for (var i = 0; i < versions[ddl1.value].length; i++) {
                        var opt2 = document.createElement('option');
                        opt2.value = versions[ddl1.value][i][1];
                        opt2.text  = versions[ddl1.value][i][0];
                        ddl2.options.add(opt2);
                      }
                    }

                    configureDropDownLists(ddlType, ddlVer);
                    $(ddlType).on('change', function () {
                      configureDropDownLists(ddlType, ddlVer);
                    });
                  })();
                </script>
              </td>
            </tr>
          {{ENDFOREACH}}
        </tbody>
      </table>
    </div>
  </div>
{{ENDIF}}
