{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}

<h2>Supertasks <span class="badge bg-primary">[[sizeof([[supertasks]])]]</span></h2>
{%TEMPLATE->struct/messages%}

<div class="card">
  <div class="table-responsive">
    <table class="table table-hover table-bordered" id="supertasks">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th style="text-align: right">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{FOREACH supertask;[[supertasks]]}}
          <tr>
            <td><a href="supertasks.php?id=[[supertask.getId()]]">[[supertask.getId()]]</a></td>
            <td><a href="supertasks.php?id=[[supertask.getId()]]">[[supertask.getSupertaskName()]]</a></td>
            <td style="text-align: right">
              <div class="d-flex gap-1 justify-content-end flex-wrap">
                {{IF [[accessControl.hasPermission([[$DAccessControl::MANAGE_SUPERTASK_ACCESS]])]]}}
                  <form action="supertasks.php" method="POST" onSubmit="if (!confirm('Really delete supertask [[supertask.getId()]]?')) return false;">
                    <input type="hidden" name="action" value="[[$DSupertaskAction::DELETE_SUPERTASK]]">
                    <input type="hidden" name="supertask" value="[[supertask.getId()]]">
                    <input type="hidden" name="csrf" value="[[csrf]]">
                    <button type="submit" class='btn btn-danger btn-sm' data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fas fa-trash" aria-hidden="true"></i></button>
                  </form>
                {{ENDIF}}
                {{IF [[accessControl.hasPermission([[$DAccessControl::RUN_TASK_ACCESS]])]]}}
                  <form action="supertasks.php?new=true&id=[[supertask.getId()]]" method="post">
                    <input type="hidden" name="csrf" value="[[csrf]]">
                    <button type="submit" class='btn btn-primary btn-sm' data-bs-toggle="tooltip" data-bs-placement="top" title="Apply to Hashlist">
                      <i class="fas fa-play"></i> Apply
                    </button>
                  </form>
                {{ENDIF}}
                <button type="button" class='btn btn-outline-secondary btn-sm' data-bs-toggle="collapse" data-bs-target="#supertask[[supertask.getId()]]" aria-expanded="false" aria-controls="supertask[[supertask.getId()]]" data-bs-toggle="tooltip" data-bs-placement="top" title="Show/Hide details">
                  <i class="fas fa-chevron-down"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="p-0 border-0">
              <div id="supertask[[supertask.getId()]]" class="collapse" style="margin: 10px;">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-bordered table-sm mb-0">
                      <thead class="table-light">
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Subtask Priority</th>
                          <th>Subtask Max Agents</th>
                          <th style="text-align: right">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{FOREACH task;[[tasks.getVal([[supertask.getId()]])]]}}
                          <tr>
                            <td>[[task.getId()]]</td>
                            <td>
                              {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_PRETASK_ACCESS]])]]}}
                                <a href="pretasks.php?id=[[task.getId()]]">[[task.getTaskName()]]</a>
                              {{ELSE}}
                                [[task.getTaskName()]]
                              {{ENDIF}}
                            </td>
                            <td>
                              {{IF [[accessControl.hasPermission([[$DAccessControl::MANAGE_PRETASK_ACCESS]])]]}}
                                <form action="pretasks.php?super=true" method="POST" class="d-flex gap-2">
                                  <input type='hidden' name='action' value='[[$DPretaskAction::SET_PRIORITY]]'>
                                  <input type="hidden" name="pretaskId" value="[[task.getId()]]">
                                  <input type="text" class='form-control form-control-sm' style='width: 60px;' name="priority" value="[[task.getPriority()]]" title="Priority">
                                  <input type="hidden" name="csrf" value="[[csrf]]">
                                  <button type="submit" class='btn btn-primary btn-sm'>Set</button>
                                </form>
                              {{ELSE}}
                                [[task.getPriority()]]
                              {{ENDIF}}
                            </td>
                            <td>
                              {{IF [[accessControl.hasPermission([[$DAccessControl::MANAGE_PRETASK_ACCESS]])]]}}
                                <form action="pretasks.php?super=true" method="POST" class="d-flex gap-2">
                                  <input type='hidden' name='action' value='[[$DPretaskAction::SET_MAX_AGENTS]]'>
                                  <input type="hidden" name="pretaskId" value="[[task.getId()]]">
                                  <input type="text" class='form-control form-control-sm' style='width: 60px;' name="maxAgents" value="[[task.getMaxAgents()]]" title="Max Agents">
                                  <input type="hidden" name="csrf" value="[[csrf]]">
                                  <button type="submit" class='btn btn-primary btn-sm'>Set</button>
                                </form>
                              {{ELSE}}
                                [[task.getMaxAgents()]]
                              {{ENDIF}}
                            </td>
                            <td style="text-align: right">
                              {{IF [[accessControl.hasPermission([[$DAccessControl::MANAGE_SUPERTASK_ACCESS]])]]}}
                                <form action="supertasks.php" method="POST" onSubmit="if (!confirm('Really remove pretask [[task.getId()]] from this supertask [[supertask.getId()]]?')) return false;">
                                  <input type="hidden" name="action" value="[[$DSupertaskAction::REMOVE_PRETASK_FROM_SUPERTASK]]">
                                  <input type="hidden" name="supertaskId" value="[[supertask.getId()]]">
                                  <input type="hidden" name="pretaskId" value="[[task.getId()]]">
                                  <input type="hidden" name="csrf" value="[[csrf]]">
                                  <button type="submit" class='btn btn-danger btn-sm' data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"><i class="fas fa-times"></i></button>
                                </form>
                              {{ENDIF}}
                            </td>
                          </tr>
                        {{ENDFOREACH}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <script type="text/javascript">
            $(document).ready(function() {
              checkOnLoading("#supertask[[supertask.getId()]]");
            });
          </script>
        {{ENDFOREACH}}
      </tbody>
    </table>
  </div>
</div>

{%TEMPLATE->struct/foot%}