    </div>

    <footer class="footer mt-4">
      <div class="container">
        <hr class="my-3">

        <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between gap-2">
          <div class="fw-semibold">
            [[$APP_NAME]]: [[version]]{{IF [[build]]}}+[[build]]{{ENDIF}} [[gitcommit]]
            - <a href="about.php">About</a>
            - <a href="help.php">Help</a>
            {{IF strlen([[config.getVal([[$DConfig::CONTACT_EMAIL]])]]) > 0}}
              - <a href="mailto:[[config.getVal([[$DConfig::CONTACT_EMAIL]])]]">Contact Admin</a>
            {{ENDIF}}
          </div>

          <div class="text-muted small">
            &copy;2016-[[date("Y")]] s3in!c -
            <a href="https://github.com/hashtopolis/server" target="_blank" rel="noopener">[[$APP_NAME]]</a>
          </div>
        </div>
      </div>
    </footer>

    <script src="static/hashtopolis.js"></script>
    <script src="static/all.js"></script>
  </body>
</html>