<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4 rounded">
  <div class="container-fluid px-2">

    <a class="navbar-brand d-flex align-items-center gap-2" href="index.php">
      <img src="static/logo.png" alt="logo" style="width:40px; margin: 5px 0;">
      <span>[[$APP_NAME]] V</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_AGENT_ACCESS]])]]}}
        <li class="nav-item dropdown[[menu.isActive('agents', 'classonly')]]">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownAgents" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Agents
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownAgents">
            {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_AGENT_ACCESS]])]]}}
            <a class="dropdown-item[[menu.isActive('agents_list')]]" href="agents.php">Show Agents</a>
            {{ENDIF}}
            {{IF [[accessControl.hasPermission([[$DAccessControl::CREATE_AGENT_ACCESS]])]]}}
            <a class="dropdown-item[[menu.isActive('agents_new')]]" href="agents.php?new=true">New Agent</a>
            {{ENDIF}}
            {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_AGENT_ACCESS]])]]}}
            <a class="dropdown-item[[menu.isActive('agents_status')]]" href="agentStatus.php">Agent Status</a>
            {{ENDIF}}
            <hr class="dropdown-divider">
            {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_AGENT_ACCESS]])]]}}
            <a class="dropdown-item[[menu.isActive('agents_vastai')]]" href="vastai.php">Rent Agents</a>
            {{ENDIF}}
          </div>
        </li>
        {{ENDIF}}

        {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_TASK_ACCESS]])]] ||
        [[accessControl.hasPermission([[$DAccessControl::VIEW_PRETASK_ACCESS]])]] ||
        [[accessControl.hasPermission([[$DAccessControl::VIEW_SUPERTASK_ACCESS]])]]}}
        <li class="nav-item dropdown[[menu.isActive('tasks', 'classonly')]]">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownTasks" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Tasks
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownTasks">
            {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_TASK_ACCESS]])]]}}
            <a class="dropdown-item[[menu.isActive('tasks_list')]]" href="tasks.php">Show Tasks</a>
            {{ENDIF}}
            {{IF [[accessControl.hasPermission([[$DAccessControl::CREATE_TASK_ACCESS]])]]}}
            <a class="dropdown-item[[menu.isActive('tasks_new')]]" href="tasks.php?new=true">New Task</a>
            {{ENDIF}}
            {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_PRETASK_ACCESS]])]]}}
            <a class="dropdown-item[[menu.isActive('tasks_pre')]]" href="pretasks.php">Preconfigured Tasks</a>
            {{ENDIF}}
            {{IF [[accessControl.hasPermission([[$DAccessControl::CREATE_PRETASK_ACCESS]])]]}}
            <a class="dropdown-item[[menu.isActive('tasks_prenew')]]" href="pretasks.php?new=true">New preconfigured Tasks</a>
            {{ENDIF}}
            {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_SUPERTASK_ACCESS]])]]}}
            <a class="dropdown-item[[menu.isActive('tasks_super')]]" href="supertasks.php">Supertasks</a>
            {{ENDIF}}
            {{IF [[accessControl.hasPermission([[$DAccessControl::CREATE_SUPERTASK_ACCESS]])]]}}
            <a class="dropdown-item[[menu.isActive('tasks_supernew')]]" href="supertasks.php?create=new">New Supertask</a>
            <a class="dropdown-item[[menu.isActive('tasks_superimport')]]" href="supertasks.php?create=import">Import Supertask</a>
            {{ENDIF}}
          </div>
        </li>
        {{ENDIF}}

        {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_HASHLIST_ACCESS]])]]}}
        <li class="nav-item dropdown[[menu.isActive('lists', 'classonly')]]">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownHashlists" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Lists
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownHashlists">
            <a class="dropdown-item[[menu.isActive('lists_norm')]]" href="hashlists.php">Hashlists</a>
            {{IF [[accessControl.hasPermission([[$DAccessControl::CREATE_HASHLIST_ACCESS]])]]}}
            <a class="dropdown-item[[menu.isActive('lists_new')]]" href="hashlists.php?new=true">New hashlist</a>
            {{ENDIF}}
            <a class="dropdown-item[[menu.isActive('lists_super')]]" href="superhashlists.php">Superhashlists</a>
            {{IF [[accessControl.hasPermission([[$DAccessControl::CREATE_SUPERHASHLIST_ACCESS]])]]}}
            <a class="dropdown-item[[menu.isActive('lists_snew')]]" href="superhashlists.php?new=true">New superhashlist</a>
            {{ENDIF}}
            {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_HASHES_ACCESS]])]]}}
            <a class="dropdown-item[[menu.isActive('lists_search')]]" href="search.php">Search Hash</a>
            <a class="dropdown-item[[menu.isActive('lists_cracks')]]" href="cracks.php">Show cracks</a>
            {{ENDIF}}
          </div>
        </li>
        {{ENDIF}}

        {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_FILE_ACCESS]])]]}}
        <li class="nav-item[[menu.isActive('files')]]">
          <a class="nav-link" href="files.php">Files</a>
        </li>
        {{ENDIF}}

        {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_TASK_ACCESS]])]]}}
        <li class="nav-item[[menu.isActive('chunks')]]">
          <a class="nav-link" href="chunks.php">Chunk activity</a>
        </li>
        {{ENDIF}}

        {{IF [[accessControl.hasPermission([[$DAccessControl::CRACKER_BINARY_ACCESS]])]]}}
        <li class="nav-item dropdown[[menu.isActive('crackers', 'classonly')]]">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownCrackers" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Crackers
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownCrackers">
            <a class="dropdown-item[[menu.isActive('crackers_list')]]" href="crackers.php">Binaries</a>
            <a class="dropdown-item[[menu.isActive('crackers_new')]]" href="crackers.php?new=true">New Binary</a>
          </div>
        </li>
        {{ENDIF}}

        {{IF [[accessControl.hasPermission([[$DAccessControl::LOGIN_ACCESS]])]]}}
        <li class="nav-item dropdown[[menu.isActive('account', 'classonly')]]">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownAccount" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
            <a class="dropdown-item[[menu.isActive('account_settings')]]" href="account.php">Settings</a>
            <a class="dropdown-item[[menu.isActive('account_notifications')]]" href="notifications.php">Notifications</a>
            {{IF [[login.isLoggedin()]]}}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="logout.php">Logout</a>
            {{ENDIF}}
          </div>
        </li>
        {{ENDIF}}

        {{IF [[accessControl.hasPermission([[$DAccessControl::SERVER_CONFIG_ACCESS]])]]}}
        <li class="nav-item dropdown[[menu.isActive('config', 'classonly')]]">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownConfig" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Config
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownConfig">
            <a class="dropdown-item[[menu.isActive('config_server')]]" href="config.php">Server</a>
            <a class="dropdown-item[[menu.isActive('config_hashtypes')]]" href="hashtypes.php">Hashtypes</a>
            <a class="dropdown-item[[menu.isActive('config_binaries')]]" href="binaries.php">Agent Binaries</a>
            <a class="dropdown-item[[menu.isActive('config_log')]]" href="log.php">Log</a>
            <a class="dropdown-item[[menu.isActive('config_health')]]" href="health.php">Health Checks</a>
            <a class="dropdown-item[[menu.isActive('config_preprocessors')]]" href="preprocessors.php">Preprocessors</a>
          </div>
        </li>
        {{ENDIF}}

        {{IF [[accessControl.hasPermission([[$DAccessControl::USER_CONFIG_ACCESS]])]] ||
        [[accessControl.hasPermission([[$DAccessControl::MANAGE_ACCESS_GROUP_ACCESS]])]]}}
        <li class="nav-item dropdown[[menu.isActive('users', 'classonly')]]">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownUsers" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Users
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownUsers">
            {{IF [[accessControl.hasPermission([[$DAccessControl::USER_CONFIG_ACCESS]])]]}}
            <a class="dropdown-item[[menu.isActive('users_list')]]" href="users.php">All users</a>
            <a class="dropdown-item[[menu.isActive('users_new')]]" href="users.php?new=true">New User</a>
            <a class="dropdown-item[[menu.isActive('users_access')]]" href="access.php">Access Management</a>
            <a class="dropdown-item[[menu.isActive('users_api')]]" href="api.php">API Management</a>
            {{ENDIF}}
            {{IF [[accessControl.hasPermission([[$DAccessControl::MANAGE_ACCESS_GROUP_ACCESS]])]]}}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item[[menu.isActive('users_groups')]]" href="groups.php">Groups</a>
            {{ENDIF}}
          </div>
        </li>
        {{ENDIF}}
      </ul>

      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
        {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_AGENT_ACCESS]])]]}}
        <li class="nav-item">
          <a class="nav-link" href="vastai.php" title="Rent Agents">
            <i class="fas fa-server" aria-hidden="true"></i>
          </a>
        </li>
        {{ENDIF}}

        {{IF [[login.isLoggedin()]]}}
        <li class="nav-item">
          <a class="nav-link" href="logout.php" title="Logout">
            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
          </a>
        </li>
        {{ENDIF}}
      </ul>
    </div>
  </div>
</nav>
