<nav class="navbar navbar-expand-md navbar-dark bg-dark rounded mb-4" role="navigation" aria-label="Main navigation">
	<div class="container-fluid">
		<!-- Brand/Logo -->
		<a href="index.php" class="navbar-brand d-flex align-items-center gap-2">
			<img src="static/logo-octo.png" alt="[[$APP_NAME]] logo" class="navbar-brand-logo">
			<span class="fw-bold">[[$APP_NAME]] X</span>
		</a>

		<!-- Mobile Toggle -->
		<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation menu">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Main Navigation -->
		<div id="navbarMenu" class="collapse navbar-collapse">
			<ul class="navbar-nav ms-auto">
				<!-- Agents Dropdown -->
				{{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_AGENT_ACCESS]])]]}}
					<li class="nav-item dropdown[[menu.isActive('agents', 'classonly')]]">
						<a href="#" class="nav-link dropdown-toggle" id="navAgents" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-server me-1"></i> Agents
						</a>
						<ul class="dropdown-menu" aria-labelledby="navAgents">
							{{IF [[accessControl.hasPermission([[$DAccessControl::SERVER_CONFIG_ACCESS]])]]}}
								<li>
									<a class="dropdown-item[[menu.isActive('config_vast')]]" href="vast.php">
										<i class="fas fa-cloud me-2"></i> Rent Agents
									</a>
								</li>
							{{ENDIF}}
							{{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_AGENT_ACCESS]])]]}}
								<li>
									<a class="dropdown-item[[menu.isActive('agents_list')]]" href="agents.php">
										<i class="fas fa-list me-2"></i> Show Agents
									</a>
								</li>
							{{ENDIF}}
							{{IF [[accessControl.hasPermission([[$DAccessControl::CREATE_AGENT_ACCESS]])]]}}
								<li>
									<a class="dropdown-item[[menu.isActive('agents_new')]]" href="agents.php?new=true">
										<i class="fas fa-plus me-2"></i> New Agent
									</a>
								</li>
							{{ENDIF}}
							{{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_AGENT_ACCESS]])]]}}
								<li>
									<a class="dropdown-item[[menu.isActive('agents_status')]]" href="agentStatus.php">
										<i class="fas fa-heartbeat me-2"></i> Agent Status
									</a>
								</li>
							{{ENDIF}}
						</ul>
					</li>
				{{ENDIF}}

				<!-- Tasks Dropdown -->
				{{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_TASK_ACCESS]])]] || [[accessControl.hasPermission([[$DAccessControl::VIEW_PRETASK_ACCESS]])]] || [[accessControl.hasPermission([[$DAccessControl::VIEW_SUPERTASK_ACCESS]])]]}}
					<li class="nav-item dropdown[[menu.isActive('tasks', 'classonly')]]">
						<a href="#" class="nav-link dropdown-toggle" id="navTasks" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-tasks me-1"></i> Tasks
						</a>
						<ul class="dropdown-menu" aria-labelledby="navTasks">
							{{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_TASK_ACCESS]])]]}}
								<li>
									<a class="dropdown-item[[menu.isActive('tasks_list')]]" href="tasks.php">
										<i class="fas fa-list me-2"></i> Show Tasks
									</a>
								</li>
							{{ENDIF}}
							{{IF [[accessControl.hasPermission([[$DAccessControl::CREATE_TASK_ACCESS]])]]}}
								<li>
									<a class="dropdown-item[[menu.isActive('tasks_new')]]" href="tasks.php?new=true">
										<i class="fas fa-plus me-2"></i> New Task
									</a>
								</li>
							{{ENDIF}}
							{{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_PRETASK_ACCESS]])]]}}
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item[[menu.isActive('tasks_pre')]]" href="pretasks.php">
										<i class="fas fa-cogs me-2"></i> Preconfigured Tasks
									</a>
								</li>
							{{ENDIF}}
							{{IF [[accessControl.hasPermission([[$DAccessControl::CREATE_PRETASK_ACCESS]])]]}}
								<li>
									<a class="dropdown-item[[menu.isActive('tasks_prenew')]]" href="pretasks.php?new=true">
										<i class="fas fa-plus me-2"></i> New Preconfigured Task
									</a>
								</li>
							{{ENDIF}}
							{{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_SUPERTASK_ACCESS]])]]}}
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item[[menu.isActive('tasks_super')]]" href="supertasks.php">
										<i class="fas fa-object-group me-2"></i> Supertasks
									</a>
								</li>
							{{ENDIF}}
							{{IF [[accessControl.hasPermission([[$DAccessControl::CREATE_SUPERTASK_ACCESS]])]]}}
								<li>
									<a class="dropdown-item[[menu.isActive('tasks_supernew')]]" href="supertasks.php?create=new">
										<i class="fas fa-plus me-2"></i> New Supertask
									</a>
								</li>
								<li>
									<a class="dropdown-item[[menu.isActive('tasks_superimport')]]" href="supertasks.php?create=import">
										<i class="fas fa-download me-2"></i> Import Supertask
									</a>
								</li>
							{{ENDIF}}
						</ul>
					</li>
				{{ENDIF}}

				<!-- Lists Dropdown -->
				{{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_HASHLIST_ACCESS]])]]}}
					<li class="nav-item dropdown[[menu.isActive('lists', 'classonly')]]">
						<a href="#" class="nav-link dropdown-toggle" id="navLists" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-list-ul me-1"></i> Lists
						</a>
						<ul class="dropdown-menu" aria-labelledby="navLists">
							{{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_HASHLIST_ACCESS]])]]}}
								<li>
									<a class="dropdown-item[[menu.isActive('lists_norm')]]" href="hashlists.php">
										<i class="fas fa-hashtag me-2"></i> Hashlists
									</a>
								</li>
							{{ENDIF}}
							{{IF [[accessControl.hasPermission([[$DAccessControl::CREATE_HASHLIST_ACCESS]])]]}}
								<li>
									<a class="dropdown-item[[menu.isActive('lists_new')]]" href="hashlists.php?new=true">
										<i class="fas fa-plus me-2"></i> New Hashlist
									</a>
								</li>
							{{ENDIF}}
							{{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_HASHLIST_ACCESS]])]]}}
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item[[menu.isActive('lists_super')]]" href="superhashlists.php">
										<i class="fas fa-object-group me-2"></i> Superhashlists
									</a>
								</li>
							{{ENDIF}}
							{{IF [[accessControl.hasPermission([[$DAccessControl::CREATE_SUPERHASHLIST_ACCESS]])]]}}
								<li>
									<a class="dropdown-item[[menu.isActive('lists_snew')]]" href="superhashlists.php?new=true">
										<i class="fas fa-plus me-2"></i> New Superhashlist
									</a>
								</li>
							{{ENDIF}}
							{{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_HASHES_ACCESS]])]]}}
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item[[menu.isActive('lists_search')]]" href="search.php">
										<i class="fas fa-search me-2"></i> Search Hash
									</a>
								</li>
							{{ENDIF}}
							{{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_HASHES_ACCESS]])]]}}
								<li>
									<a class="dropdown-item[[menu.isActive('lists_cracks')]]" href="cracks.php">
										<i class="fas fa-check-circle me-2"></i> Show Cracks
									</a>
								</li>
							{{ENDIF}}
						</ul>
					</li>
				{{ENDIF}}

				<!-- Files Link -->
				{{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_FILE_ACCESS]])]]}}
					<li class="nav-item[[menu.isActive('files')]]">
						<a class="nav-link" href="files.php">
							<i class="fas fa-folder me-1"></i> Files
						</a>
					</li>
				{{ENDIF}}

				<!-- Chunk Activity Link -->
				{{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_TASK_ACCESS]])]]}}
					<li class="nav-item[[menu.isActive('chunks')]]">
						<a class="nav-link" href="chunks.php">
							<i class="fas fa-cube me-1"></i> Chunk Activity
						</a>
					</li>
				{{ENDIF}}

				<!-- Crackers Dropdown -->
				{{IF [[accessControl.hasPermission([[$DAccessControl::CRACKER_BINARY_ACCESS]])]]}}
					<li class="nav-item dropdown[[menu.isActive('crackers', 'classonly')]]">
						<a href="#" class="nav-link dropdown-toggle" id="navCrackers" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-wrench me-1"></i> Crackers
						</a>
						<ul class="dropdown-menu" aria-labelledby="navCrackers">
							<li>
								<a class="dropdown-item[[menu.isActive('crackers_list')]]" href="crackers.php">
									<i class="fas fa-list me-2"></i> Binaries
								</a>
							</li>
							<li>
								<a class="dropdown-item[[menu.isActive('crackers_new')]]" href="crackers.php?new=true">
									<i class="fas fa-plus me-2"></i> New Binary
								</a>
							</li>
						</ul>
					</li>
				{{ENDIF}}

				<!-- Account Dropdown -->
				{{IF [[accessControl.hasPermission([[$DAccessControl::LOGIN_ACCESS]])]]}}
					<li class="nav-item dropdown[[menu.isActive('account', 'classonly')]]">
						<a href="#" class="nav-link dropdown-toggle" id="navAccount" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-user-circle me-1"></i> My Account
						</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navAccount">
							<li>
								<a class="dropdown-item[[menu.isActive('account_settings')]]" href="account.php">
									<i class="fas fa-cog me-2"></i> Settings
								</a>
							</li>
							<li>
								<a class="dropdown-item[[menu.isActive('account_notifications')]]" href="notifications.php">
									<i class="fas fa-bell me-2"></i> Notifications
								</a>
							</li>
						</ul>
					</li>
				{{ENDIF}}

				<!-- Configuration Dropdown -->
				{{IF [[accessControl.hasPermission([[$DAccessControl::SERVER_CONFIG_ACCESS]])]]}}
					<li class="nav-item dropdown[[menu.isActive('config', 'classonly')]]">
						<a href="#" class="nav-link dropdown-toggle" id="navConfig" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-sliders-h me-1"></i> Config
						</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navConfig">
							<li>
								<a class="dropdown-item[[menu.isActive('config_server')]]" href="config.php">
									<i class="fas fa-cog me-2"></i> Server
								</a>
							</li>
							<li>
								<a class="dropdown-item[[menu.isActive('config_hashtypes')]]" href="hashtypes.php">
									<i class="fas fa-key me-2"></i> Hashtypes
								</a>
							</li>
							<li>
								<a class="dropdown-item[[menu.isActive('config_binaries')]]" href="binaries.php">
									<i class="fas fa-file me-2"></i> Agent Binaries
								</a>
							</li>
							<li>
								<a class="dropdown-item[[menu.isActive('config_log')]]" href="log.php">
									<i class="fas fa-file-alt me-2"></i> Log
								</a>
							</li>
							<li>
								<a class="dropdown-item[[menu.isActive('config_health')]]" href="health.php">
									<i class="fas fa-heartbeat me-2"></i> Health Checks
								</a>
							</li>
							<li>
								<a class="dropdown-item[[menu.isActive('config_preprocessors')]]" href="preprocessors.php">
									<i class="fas fa-filter me-2"></i> Preprocessors
								</a>
							</li>
						</ul>
					</li>
				{{ENDIF}}

				<!-- Users Dropdown -->
				{{IF [[accessControl.hasPermission([[$DAccessControl::USER_CONFIG_ACCESS]])]] || [[accessControl.hasPermission([[$DAccessControl::MANAGE_ACCESS_GROUP_ACCESS]])]]}}
					<li class="nav-item dropdown[[menu.isActive('users', 'classonly')]]">
						<a href="#" class="nav-link dropdown-toggle" id="navUsers" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-users me-1"></i> Users
						</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navUsers">
							{{IF [[accessControl.hasPermission([[$DAccessControl::USER_CONFIG_ACCESS]])]]}}
								<li>
									<a class="dropdown-item[[menu.isActive('users_list')]]" href="users.php">
										<i class="fas fa-list me-2"></i> All Users
									</a>
								</li>
								<li>
									<a class="dropdown-item[[menu.isActive('users_new')]]" href="users.php?new=true">
										<i class="fas fa-plus me-2"></i> New User
									</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item[[menu.isActive('users_access')]]" href="access.php">
										<i class="fas fa-lock me-2"></i> Access Management
									</a>
								</li>
								<li>
									<a class="dropdown-item[[menu.isActive('users_api')]]" href="api.php">
										<i class="fas fa-key me-2"></i> API Management
									</a>
								</li>
							{{ENDIF}}
							{{IF [[accessControl.hasPermission([[$DAccessControl::MANAGE_ACCESS_GROUP_ACCESS]])]]}}
								<li>
									<a class="dropdown-item[[menu.isActive('users_groups')]]" href="groups.php">
										<i class="fas fa-object-group me-2"></i> Groups
									</a>
								</li>
							{{ENDIF}}
						</ul>
					</li>
				{{ENDIF}}
			</ul>

			<!-- Logout (Right aligned) -->
			<ul class="navbar-nav ms-auto">
				{{IF [[login.isLoggedin()]]}}
					<li class="nav-item">
						<a class="nav-link" href="logout.php" title="Logout" data-bs-toggle="tooltip" data-bs-placement="bottom">
							<i class="fas fa-sign-out-alt"></i>
						</a>
					</li>
				{{ENDIF}}
			</ul>
		</div>
	</div>
</nav>
<style>
.navbar-nav .nav-link {
    position: relative;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #28a745;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #28a745;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}
</style>