{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Add new agent</h2>
{%TEMPLATE->struct/messages%}
<div class='alert alert-dark' role="alert">
	<strong>To add new agents:</strong> Provide them with a valid voucher and download a client.<br><br>
	<strong>Note:</strong> Used vouchers are automatically deleted to prevent double spending.<br><br>
	<strong>API URL:</strong> If asked to provide the API url on the client to connect to, enter:<br>
	<code>[[apiUrl]]</code>
</div>

<h3>Clients</h3>
<div class="card">
  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Version</th>
          <th>Type</th>
          <th>Operating Systems</th>
          <th>Filename</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{FOREACH binary;[[agentBinaries]]}}
          <tr>
            <td>[[binary.getId()]]</td>
            <td>[[binary.getVersion()]]</td>
            <td>[[binary.getType()]]</td>
            <td>[[binary.getOperatingSystems()]]</td>
            <td><code>[[binary.getFilename()]]</code></td>
            <td>
              <form action="agents.php?new=true" method="POST" class="float-end">
                <input type="hidden" name="action" value="[[$DAgentAction::DOWNLOAD_AGENT]]">
                <input type="hidden" name="binary" value="[[binary.getId()]]">
                <input type="hidden" name="csrf" value="[[csrf]]">
                <button type="submit" class='btn btn-primary btn-sm' data-bs-toggle="tooltip" data-bs-placement="top" title="Download client">
                  <i class="fas fa-download"></i> Download
                </button>
              </form>
              <div>Direct URL:<br><code>[[agentUrl]][[binary.getId()]]</code></div>
            </td>
          </tr>
        {{ENDFOREACH}}
      </tbody>
    </table>
  </div>
</div>

{{IF [[sizeof([[vouchers]])]] > 0}}
  <h3>Active Vouchers</h3>
  <div class="card">
    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>Voucher Code</th>
            <th>Created</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{FOREACH voucher;[[vouchers]]}}
            <tr>
              <td><code>[[voucher.getVoucher()]]</code></td>
              <td>[[date([[config.getVal(DConfig::TIME_FORMAT)]], [[voucher.getTime()]])]]</td>
              <td>
                <form action="agents.php?new=true" method="POST" class="float-end" onSubmit="if (!confirm('Really delete this voucher?')) return false;">
                  <input type="hidden" name="action" value="[[$DAgentAction::DELETE_VOUCHER]]">
                  <input type="hidden" name="voucher" value="[[voucher.getId()]]">
                  <input type="hidden" name="csrf" value="[[csrf]]">
                  <button type="submit" class='btn btn-danger btn-sm' data-bs-toggle="tooltip" data-bs-placement="top" title="Delete voucher">
                    <i class="fas fa-trash"></i> Delete
                  </button>
                </form>
              </td>
            </tr>
          {{ENDFOREACH}}
        </tbody>
      </table>
    </div>
  </div>
{{ENDIF}}

<h3>Generate New Voucher</h3>
<form action="agents.php?new=true" method="POST">
	<input type="hidden" name="action" value="[[$DAgentAction::CREATE_VOUCHER]]">
	<input type="hidden" name="csrf" value="[[csrf]]">
	<div class="card">
    <div class="table-responsive">
      <table class="table table-bordered">
			  <tr>
				  <td>New voucher</td>
				  <td>
					  <input type="text" class='form-control' name="newvoucher" value="[[Util::randomString(8)]]" title="Voucher Code">
				  </td>
				  <td>
					  <button type="submit" class='btn btn-primary' title="Create voucher">
                    <i class="fas fa-plus-circle"></i> Create
                  </button>
				  </td>
			  </tr>
		  </table>
    </div>
	</div>
</form>

<script type="text/javascript">
  $(document).ready(function () {
    // Initialize tooltips
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  });
</script>

{%TEMPLATE->struct/foot%}