<!-- Vast.ai Integration Scripts -->
<script src="static/vast/js/vast-utils.js"></script>
<script src="static/vast/js/vast-notifications.js"></script>
<script src="static/vast/js/vast-api.js"></script>

<!-- Modal Scripts (load in order - sub-modules before coordinator) -->
<script src="static/vast/js/vast-modal-instance.js"></script>
<script src="static/vast/js/vast-modal-offer.js"></script>
<script src="static/vast/js/vast-modal-bulk.js"></script>
<script src="static/vast/js/vast-modals.js"></script>

<!-- Main Application Scripts -->
<script src="static/vast/js/vast-offers.js"></script>
<script src="static/vast/js/vast-instances.js"></script>
<script src="static/vast/js/vast-main.js"></script>