{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>About [[$APP_NAME]]</h2>

<div class='alert alert-info' role="alert">
  <strong>[[$APP_NAME]]</strong> version <code class="user-select-all">[[version]]</code> running on <code class="user-select-all">[[host]]</code>.<br>
  {{IF [[gitcommit]] != "not versioned"}}
    [[$APP_NAME]] is running versioned. Updates can be retrieved with <code>git pull</code>. Latest commit:
    <code class="user-select-all">[[gitcommit]]</code>.
  {{ENDIF}}
</div>

<div class='alert alert-secondary' role="alert">
  <strong>Features of [[$APP_NAME]]:</strong>
  <ul class="mb-0">
    <li>Easy and comfortable to use</li>
    <li>Accessible from anywhere via web interface</li>
    <li>Server component highly compatible with common web hosting setups</li>
    <li>Unattended agents</li>
    <li>File management for word lists, rules, ...</li>
    <li>Self-updating of both [[$APP_NAME]] and hashcat</li>
    <li>Cracking multiple hashlists of the same hash type as though they were a single hashlist</li>
    <li>Running the same client on Windows, Linux and OS X</li>
    <li>Files and hashes marked as "secret" are only distributed to agents marked as "trusted"</li>
    <li>Many data import and export options</li>
    <li>Rich statistics on hashes and running tasks</li>
    <li>Visual representation of chunk distribution</li>
    <li>Multi-user support</li>
    <li>User permission levels</li>
    <li>Various notification types</li>
    <li>Small and/or CPU-only tasks</li>
    <li>Group assignment for agents and users for fine-grained access control</li>
    <li>Compatible with crackers supporting certain flags</li>
  </ul>
</div>

<div class='alert alert-secondary' role="alert">
  <strong>Thanks to the following people for helping in various ways to make [[$APP_NAME]] work:</strong>
  <ul class="mb-0">
    <li>winxp5421</li>
    <li>blazer</li>
    <li>CynoSure Prime</li>
    <li>curlyboi</li>
  </ul>
</div>

{%TEMPLATE->struct/foot%}