{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>[[$APP_NAME]] Help</h2>

<h4>Video Tutorials</h4>
<div class='alert alert-info' role="alert">
  <ul class="mb-0">
    <li><a href="https://www.youtube.com/watch?v=u1ZDQLFV0Bo" target="_blank" rel="noopener noreferrer">Server Setup</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZYlbfxzqbSU" target="_blank" rel="noopener noreferrer">Client Setup</a></li>
  </ul>
</div>

<h4>Wiki help</h4>
<div class='alert alert-secondary' role="alert">
  <ul class="mb-0">
    <li><a href="https://github.com/hashtopolis/server/wiki/Getting-Started" target="_blank" rel="noopener noreferrer">Getting Started</a></li>
    <li><a href="https://github.com/hashtopolis/server/wiki/Task-Creation-Guidelines" target="_blank" rel="noopener noreferrer">Task Creation Guidelines</a></li>
    <li><a href="https://github.com/hashtopolis/server/wiki/Frequent-Problems" target="_blank" rel="noopener noreferrer">Frequent Problems</a></li>
  </ul>
</div>

{%TEMPLATE->struct/foot%}