{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}

<h2>New Access Group</h2>

{%TEMPLATE->struct/messages%}

<form action="groups.php?new=true" method="post">
  <input type="hidden" name="action" value="[[$DAccessGroupAction::CREATE_GROUP]]">
  <input type="hidden" name="csrf" value="[[csrf]]">

  <div class="card">
    <div class="table-responsive">
      <table class="table table-bordered align-middle">
        <tr>
          <th style="width: 200px;">Group Name</th>
          <td>
            <input
              type="text"
              class="form-control"
              name="groupName"
              title="Group Name"
              required
              autofocus
            >
          </td>
        </tr>
        <tr>
          <td colspan="2" class="text-center">
            <button type="submit" class="btn btn-success">
              Create Access Group
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</form>

{%TEMPLATE->struct/foot%}
